*{
    margin: 0;
    padding: 0;
}

body, html, .site {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; 
}

.header {
    flex: 0 0 auto; 
}

.header__top {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.header__logo {
    margin-right: 32px;
}

.nav__items {
    display: flex;
    list-style: none;
    line-height: 0;
}

.header__account__link {
    margin-left: auto;
}

.header__account {
    margin-right: 50px;
}

header a {
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    margin-right: 20px;
}

.nav__item a:last-child {
    padding-right: 32px;
}

.header__content {
    display: flex;
    background-image: url(../img/zastavka.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.header__content__wrapper {
    margin-top: 113px;
    margin-bottom: 200px;
    margin-left: 118px;
}

.header__content__wrapper h1 {
    font-size: 89px;
    font-weight: 600;
    padding-bottom: 97px;
}

.header__content__title {
    font-size: 38px;
    font-weight: 300;
    padding-bottom: 34px;
}

.header__content__btn {
    border: none;
    border-radius: 15px;
    cursor: pointer; 
    font-weight: 300;
    font-size: 19px;
    line-height: 32px;
    color: black;
    padding: 12px 36px;
    background-color: #EFD372;
}

.header__content__btn:hover {
    background-color: black;
    color: #EFD372;
}

.block__info {
    text-align: center;
    width: 540px;
    margin: 64px auto 50px auto;
}

.block__info__h2 {
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
}

.block__info__sub {
    font-weight: 200;
    font-size: 18px;
    line-height: 32px;
}

.blocks__items {
    display: flex;
    justify-content: center;
}

.block__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
}

.block__item:not(:last-child) {
    margin-right: 50px;
}

.block__item__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.block__item__sup__title {
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
}

.footer {
    margin-top: 40px;
    background-color: #dfcb83;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 40px 10px 10px 10px;
}

.footer__wrapper__contact,
.footer__wrapper__social,
.footer__wrapper__utility {
    display: flex;
    flex-direction: column;
}

.footer__wrapper__contact {
    align-items: flex-start;
}

.footer__wrapper__contact span,
.footer__wrapper__contact a,
.footer__wrapper__utility a {
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.footer__wrapper__social {
    align-items: center;
}

.footer__logo__link img {
    margin-bottom: 25px;
}

.footer__span {
    max-width: 567px;
    text-align: center;
    margin-bottom: 25px;
}

.social a{
    text-decoration: none;
}

.social > a:not(:last-child) {
    margin-right: 20px;
}

.footer__wrapper__utility {
    align-items: flex-start;
}

.contact__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.contacts {
    display: flex;
    font-size: 20px;
    font-weight: normal;
}

.feedback {
    font-size: 20px;
    font-weight: normal;
}

.contacts a {
    text-decoration: none;
    color: black;
}


.contacts h3 {
    margin-bottom: 15px;
}

.contacts p {
    margin-top: 16px;
}

.contacts__info__social {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    justify-content: space-between;
    
}

.feedback {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.feedback h3 {
    text-align: center;
    margin-bottom: 15px;
}

.feedback p {
    text-align: center;
}

.feedback p, 
.feedback input {
    margin-bottom: 5px;
}

.about__wrapper h3 {
    margin-top: 15px;
    margin-bottom: 20px;
}

/*.about__wrapper p {
    font-size: 20px;
    font-weight: normal;
}*/

p.color {
    border: 1px solid none;
    padding: 10px 10px 10px 35px;
    background-color: rgba(228, 228, 119, 0.419);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.catalog__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog__item {
    width: calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog__item__image {
    display: flex;
    justify-content: center;
}

.catalog__item__image img {
    height: 250px;
    max-width: 250px;

}

/*-----------Catalog-------------*/

.catalog__item {
    padding: 5px;
    transition: 1s;
    border-bottom: 1px solid #EFD372;
}


.catalog__item:hover{
    transform: scale(1.1);
}


.catalog__item__info {
    display: flex;
    flex-direction: column;
}

.catalog__item__price {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

.catalog__item__title {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.catalog__item__title:hover {
    text-decoration: underline #EFD372;
}

.catalog__item__add__cart {
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 10px;
    background-color: #EFD372;
    margin: 0 auto;
    margin-top: 20px;
}

.catalog__item__add__cart:hover,
.product__add__cart:hover {
    background-color: black;
    color: #EFD372;
}

.product__wrapper img {
    max-width: 400px;
}

.product__wrapper {
    display: flex;
}

.product__other {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.product__other h2 {
    margin-bottom: 20px;
}

.product__other span {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 20px 0px;
}

.product__add__cart {
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 10px;
    background-color: #EFD372;
    margin-bottom: 20px
}

.go__back__btn {
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
    color: #EFD372;
    padding: 5px 57px;
    background-color: black;
    margin-bottom: 20px;
}

.cart__items {
    list-style-type:none;
margin-top: 10px;
}

.cart__items p {
    font-size: 18px;
}

.cart__item {
    margin-bottom: 15px;
}

.cart__delete__button {
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
    color: #EFD372;
    padding: 5px 57px;
    background-color: black;
    margin-top: 15px;
}

.cart__img img {
    max-width: 200px;
}